node_modules
report.*.json
.DS_Store

# build
/bundle

# the package
/dist

# tsc dist
/packages/**/dist

# changelog temp
CHANGELOG.temp.md

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

*.log

src-tauri/target

.turbo

lib-tests/
