# default false, `pnpm add` fails, have to use `pnpm add -w`
ignore-workspace-root-check=true

# -r include root
include-workspace-root=true

# use zsh alias: ncu-safe
# not working
# script-shell=/bin/zsh
