# name: Node.js CI

on:
  - push
  - pull_request

jobs:
  build-app:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2
        with: { version: 7 }

      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'pnpm'

      # install deps
      - run: pnpm install --frozen-lockfile

      # turbo cache
      - uses: actions/cache@v3
        with:
          path: node_modules/.cache/turbo
          key: turbo-cache-${{ runner.os }}

      # build only
      - run: pnpm build

      # build .app file
      # - run: pnpm dist:pack
