name: Release

on:
  push:
    tags:
      - 'v0*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release:
    runs-on: macos-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: pnpm

      # install deps
      - run: pnpm install --frozen-lockfile

      # turbo cache
      - uses: actions/cache@v5
        with:
          path: node_modules/.cache/turbo
          key: turbo-cache-${{ runner.os }}

      # electron build
      - run: pnpm dist:mac

      # v1.2.3 -> 1.2.3
      - id: github-script
        uses: actions/github-script@v8
        with:
          script: |
            const version = context.ref.slice('refs/tags/v'.length)
            core.setOutput('version', version)

      # use
      # - run: echo "${{steps.github-script.outputs.id}}"

      # generate current release changelog
      # - run: pnpm jake release:changelog

      # release with changelog
      - run: pnpx changeloggithub@0
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      # delay, for action-gh-release cann't detect existing release
      # https://github.com/softprops/action-gh-release/issues/616
      - run: sleep 3

      # create release & upload to release
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          # body_path: CHANGELOG.temp.md
          fail_on_unmatched_files: true
          files: |
            ./dist/latest-mac.yml
            ./dist/clash-config-manager-${{ steps.github-script.outputs.version }}-*.*
